:root {
    --font-title: "Sofia Sans", sans-serif;
    --font-body: "Montserrat", sans-serif;
    --font-body-alt: "Montserrat Alternates", sans-serif;

    font-size: 16px;
    line-height: 130%;
    /* font steps per Utopia.fyi */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.2rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

    --transition-duration-standard: 250ms;
    --transition-easing-standard: ease-in;

    --shadow-color: color-mix(in srgb, var(--color-primary) 30%, white 15%);
    --shadow-header: drop-shadow(2px 0px 8px var(--shadow-color));
    --shadow-image: drop-shadow(3px 3px 8px var(--shadow-color));

    --link-base-translation: 0 0;
    --link-underline-offset: -2px;

    --padding-edge: 1rem;
    --section-padding: 160px;
    @media screen and (min-width: 1024px) {
        --padding-edge: 2rem;
        --section-padding: 200px;
    }
    
    --initial-animation-delay: 200ms;
}
html {
    --color-offwhite: #edede9;
    --color-offblack: #141D0C;

    --color-primary: #283618;
    --color-primary-light: #606c38;
    --color-secondary: #bc6c25;
    --color-accent: #dda15e;
    --color-error: #c1121f;
    
    --color-text: var(--color-offblack);
    --color-background: #fefae0;;

    --color-link: var(--color-secondary);
    --color-link-underline: var(--color-primary);

    --color-pink-white: color-mix(in srgb, var(--color-primary) 100%, white 20%);

    --font-weight: 300;

    background-color: var(--color-background);
}

@layer base {
    body {
        font-family: var(--font-body);
        font-weight: var(--font-weight);
        color: var(--color-text);
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
        
        font-weight: 300;
        color:  var(--color-background);
        background-color: var(--color-accent);
        padding: 0.15em 0.3em;
        border-radius: 3px;
    }
    html.reduce-motion a:not(:has(img,svg)) {
        background: transparent;
        -webkit-background-clip: none;
        background-clip: none;

        &:hover {
            color: var(--color-link-underline);

            &::after {
                translate: 0 0;
            }
        }
    }
    @media (prefers-reduced-motion: reduce) {
        a:not(:has(img,svg)) {
            background: transparent;
            -webkit-background-clip: none;
            background-clip: none;

            &:hover {
                color: var(--color-link-underline);

                &::after {
                    translate: 0 0;
                }
            }
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-title);
    }
    h1.hero, .style-h1.hero {
        font-size: var(--step-5);
        font-weight: 500; 
    }
    h1, .style-h1 {
        font-size: var(--step-4);
        font-weight: 500;
        line-height: 140%
    }
    h2, .style-h2 {
        font-size: var(--step-3);
        font-weight: 500;
        line-height: 140%
    }
    h3, .style-h3 {
        font-size: var(--step-2);
        font-weight: 500;
        line-height: 135%
    }
    h4, .style-h4 {
        font-size: var(--step-1);
        font-weight: 500;
        line-height: 135%
    }
    h5, .style-h5 {
        font-size: var(--step-0);
        font-weight: 600;
        line-height: 140%
    }
    
    p {
        font-size: var(--step-0);
    }
    p.small, a.small {
        font-size: var(--step--1);
    }
    p.x-small, a.x-small {
        font-size: var(--step--2);
    }
    
    a {
        position: relative;

        display: inline-flex;
        align-items: center;
        text-decoration: none;

        color: var(--color-secondary);

        animation: none;

        &::before {
            content: "";

            position: absolute;
            top: 100%;
            right: 0;
            width: 0;

            display: inline-block;

            background-color: var(--color-secondary);

            height: 0.1em;

            transition: width ease-out 200ms;
        }
        &:hover::before {
            left: 0;
            width: 100%;
        }
        
        &.arrow {
            &::before {
                content: none;
            }
            &::after {
                content: "→";
    
                position: static;
                height: fit-content;
                width: fit-content;
    
                margin-top: -0.1em;
    
                display: inline-flex;
                padding-left: clamp(4px, 0.2em, 10px);
    
                font-weight: inherit;
                font-family: var(--font-fun);
                font-size: inherit;
                line-height: inherit;
    
                translate: 0 0;
                transition: translate 300ms ease-in-out;
            }
        }

        &:hover {
            color: var(--color-secondary);

            &::after {
                background: transparent;
                translate: 0.5em 0;
            }
        }
    }
    .html.reduce-motion a.arrow:hover::after {
        translate: 0 0;
    }
    @media (prefers-reduced-motion: reduce) {
        a.arrow:hover::after {
            translate: 0 0;
        }
    }

	main {
		margin: auto;
		padding: var(--padding-edge);

        width: 100%;
		max-width: 1200px;
	}
}